html {
	font-size: 62.5%;
	max-width: 960px;
	margin: auto;
}

body {
	font-family: 'Public Sans', sans-serif;
	font-weight: 400;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4.5rem;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-container h1 {
	font-size: 2rem;
	margin-left: 0.6rem;
	font-weight: 800;
}

.menu {
	display: flex;
	align-items: center;
}

.menu li a {
	padding: 1rem 0.75rem;
	transition: 0.3s ease-in-out;
	margin-left: 3rem;
	font-size: 1.5rem;
}

.menu li a:hover {
	background-color: #5bc241;
	color: white;
}

.menu li a.btn {
	background-color: white;
	border-radius: 1rem;
	color: #5bc241;
	margin-left: 3rem;
	padding: 1rem 2rem;
	font-weight: 300;

	border: solid #5bc241 0.5px;
}

.menu li a.btn:hover {
	background-color: #5bc241;
	border: solid #5bc241 0.5px;
	color: white;
}
