@media (max-width: 800px) {
	nav a {
		width: 150px;
		height: 50px;
		text-align: center;
	}

	header {
		padding-top: 50px;
		padding-bottom: 50px;
		flex-direction: column;
	}

	.logo-container {
		padding-left: 0;
	}

	.logo-container h1 {
		padding-left: 8px;
		font-size: 40px;
	}

	nav {
		padding-right: 0;
	}

	nav ul {
		padding-top: 50px;
		flex-direction: column;
		align-items: center;
	}

	nav li {
		padding-left: 0;
		padding-top: 50px;
		font-size: 40px;
	}

	.active {
		padding: 17.5px 40px;
	}

	.cadastro {
		width: 125px;
		height: 25px;
		font-size: 20px;
		padding: 15px 22.5px;
	}
}
