a {
	text-decoration: none;
	color: black;
}

header {
	padding-top: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-container {
	padding-left: 45px;
	display: flex;
	align-items: center;
}

.logo-container h1 {
	padding-left: 6px;
	font-weight: 800;
	font-size: 20px;
}
nav {
	padding-right: 45px;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	display: flex;
	padding-left: 30px;
	align-items: center;
	font-size: 15px;
}

.active {
	background-color: #5bc241;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 10px 7.5px;
	/* margin: -7.5px; */
}

.cadastro {
	background-color: #5bc241;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-weight: 300;
}
